In [1]:
import pandas as pd

In [48]:
df = pd.read_excel(r'C:\Users\hp\Desktop\python\Online Retail.xlsx')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [50]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

In [52]:
print(df.duplicated().any(),df.duplicated().sum())

True 5268

In [54]:
df = df.drop_duplicates().reset_index()
df

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
536636,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
536637,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
536638,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
536639,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
536640,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [56]:
pd.set_option('display.max.rows', 60)
top_seller = df['Description'].value_counts().head(10).reset_index()
print('top 10 '  , top_seller)

top 10                            Description  count
0  WHITE HANGING HEART T-LIGHT HOLDER   2357
1            REGENCY CAKESTAND 3 TIER   2189
2             JUMBO BAG RED RETROSPOT   2156
3                       PARTY BUNTING   1720
4             LUNCH BAG RED RETROSPOT   1625
5       ASSORTED COLOUR BIRD ORNAMENT   1488
6   SET OF 3 CAKE TINS PANTRY DESIGN    1465
7     PACK OF 72 RETROSPOT CAKE CASES   1367
8             LUNCH BAG  BLACK SKULL.   1323
9     NATURAL SLATE HEART CHALKBOARD    1272

In [58]:
df['category'] = df['Description'].apply(lambda x:
    'Kitchen' if any( word in str(x).upper() for word in ['CAKE', 'BAKING', 'TEA', 'JAM', 'CUP', 'RECIPE', 'PANTRY', 'MUG', 'PLATE', 'BOWL', 'TRAY', 'TOWEL', 'COASTER'])
    else 'Kids' if any( word in str(x).upper() for word in ['CHILDREN', 'SPACEBOY', 'DOLLY', 'CIRCUS', 'NAP', 'TOY'])
    else 'Lighting' if any(word in str(x).upper() for word in ['LIGHT', 'LANTERN', 'CANDLE', 'T-LIGHT'])
    else 'Bags' if any(word in str(x).upper() for word in ['BAG', 'SHOPPER', 'LUNCH', 'JUMBO', 'PURSE', 'PENCIL CASE'])
    else 'Decor' if any(word in str(x).upper() for word in ['HEART', 'FRAME', 'HANGING', 'CHALKBOARD', 'SIGN', 'WALL ART'])
    else 'Craft' if any(word in str(x).upper() for word in ['KNITTED', 'WOODEN', 'CRAFT', 'MAKING', 'PAINT', 'STITCH'])
    else 'Homeware' if any(word in str(x).upper() for word in ['DOORMAT', 'CUSHION', 'COVER', 'VASE', 'CLOCK', 'STORAGE'])
    else 'Gifts' if any(word in str(x).upper() for word in ['GIFT', 'PRESENT', 'WRAP', 'RIBBON', 'CARD', 'TAGS', 'TAPE'])
    else 'Seasonal' if any( word in str(x).upper() for word in ['CHRISTMAS', 'XMAS', 'EASTER', 'HALLOWEEN', 'VALENTINE', 'ADVENT'])
    else 'Tools' if any( word in str( x).upper() for word in ['TOOL', 'SCISSORS', 'TAPE', 'KNEELING', 'PAD', 'TOOLSET'])
    else 'Garden' if any(word in str(x ).upper() for word in ['GARDEN', 'PLANT', 'POT', 'FLOWER', 'SEEDS'])
    else 'Stationery' if any(word in str( x).upper() for word in ['NOTEBOOK', 'PEN', 'PENCIL', 'ERASER', 'SHARPENER', 'RULER', 'DIARY'])
    else 'Other')
df

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,category
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Lighting
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Lighting
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Kitchen
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Craft
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Decor
...,...,...,...,...,...,...,...,...,...,...
536636,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,Kids
536637,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,Kids
536638,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,Kids
536639,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,Kids
536640,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,Kitchen

In [60]:
df['year']= df['InvoiceDate'].dt.year
df['month']= df['InvoiceDate'].dt.month

In [62]:
category_avreg_price = df.groupby('category')['UnitPrice'].mean().reset_index()
category_avreg_price= category_avreg_price.rename(columns={'UnitPrice':'Aver_Unit_Price'})
print(category_avreg_price)

      category  Aver_Unit_Price
0         Bags         2.359693
1        Craft         3.487215
2        Decor         2.965111
3       Garden         3.494725
4        Gifts         1.390160
5     Homeware         6.677330
6         Kids         2.719437
7      Kitchen         3.474704
8     Lighting         2.861184
9        Other         9.274210
10    Seasonal         2.395794
11  Stationery         1.239583
12       Tools         3.196665

In [64]:
category_tota_q = df.groupby('category')['Quantity'].sum().reset_index()
category_tota_q= category_tota_q.rename(columns={'Quantity':'total_Quantity'})
print(category_tota_q)

      category  total_Quantity
0         Bags          620470
1        Craft          216770
2        Decor          756953
3       Garden          231765
4        Gifts          357096
5     Homeware          116606
6         Kids          280572
7      Kitchen          838831
8     Lighting          409872
9        Other         1020092
10    Seasonal          134252
11  Stationery          150945
12       Tools           28278

In [66]:
category_table = category_avreg_price.merge(category_tota_q , on = 'category' , how = 'left')
print(category_table)

      category  Aver_Unit_Price  total_Quantity
0         Bags         2.359693          620470
1        Craft         3.487215          216770
2        Decor         2.965111          756953
3       Garden         3.494725          231765
4        Gifts         1.390160          357096
5     Homeware         6.677330          116606
6         Kids         2.719437          280572
7      Kitchen         3.474704          838831
8     Lighting         2.861184          409872
9        Other         9.274210         1020092
10    Seasonal         2.395794          134252
11  Stationery         1.239583          150945
12       Tools         3.196665           28278

In [68]:
df['Revenue'] = df['UnitPrice'] * df['Quantity']
category_revenue = df.groupby('category')['Revenue'].sum().reset_index()
category_table = category_table.merge(category_revenue, on='category', how='left')
category_table['Percent'] = (category_table['total_Quantity']/category_table['total_Quantity'].sum()*100)
category_table = category_table.round(1).sort_values(by='total_Quantity',ascending =False ).reset_index(drop=True)
print(category_table)

      category  Aver_Unit_Price  total_Quantity    Revenue  Percent
0        Other              9.3         1020092  2327122.8     19.8
1      Kitchen              3.5          838831  1630458.9     16.2
2        Decor              3.0          756953  1345074.9     14.7
3         Bags              2.4          620470  1109903.2     12.0
4     Lighting              2.9          409872   785958.6      7.9
5        Gifts              1.4          357096   292885.8      6.9
6         Kids              2.7          280572   450697.2      5.4
7       Garden              3.5          231765   455976.7      4.5
8        Craft              3.5          216770   390567.8      4.2
9   Stationery              1.2          150945   111507.4      2.9
10    Seasonal              2.4          134252   226246.2      2.6
11    Homeware              6.7          116606   547528.3      2.3
12       Tools              3.2           28278    52079.2      0.5

In [142]:
country_amount = df.groupby('Country')['Revenue'].sum().reset_index()
country_quantity =  df.groupby('Country')['Quantity'].sum().reset_index()
country_total = country_quantity.merge(country_amount,on='Country', how = 'left')
country_total = country_total.rename(columns={'Revenue':'t_amount', 'Quantity':'t_Order'})

In [146]:
top_category_q = df[df['category'] != 'Other'].groupby(['Country', 'category'])['Quantity'].sum().sort_values(ascending=False).reset_index()
top_category_r = df[df['category'] != 'Other'].groupby(['Country', 'category'])['Revenue'].sum().sort_values(ascending=False).reset_index()
top_category = top_category_q.merge(top_category_r, on=['Country', 'category'], how='left')
top_category = top_category.sort_values('Quantity', ascending=False).groupby('Country').head(1).reset_index(drop=True)


country_Table = top_category.merge(country_total, on = 'Country', how='left' )


print(country_Table.head(20))

            Country category  Quantity     Revenue  t_Order     t_amount
0    United Kingdom    Decor    677108  1229634.67  4250328  8167128.184
1       Netherlands     Kids     34853    48443.02   200128   284661.540
2              EIRE  Kitchen     33508    70318.58   142495   262993.380
3           Germany  Kitchen     23258    42960.18   117341   221509.470
4            France  Kitchen     19878    30708.73   110438   197317.110
5         Australia  Kitchen     18540    35438.58    83643   137009.770
6            Sweden  Kitchen     11296    12473.52    35632    36585.410
7           Belgium  Kitchen      6385     7882.14    23152    40910.960
8       Switzerland  Kitchen      5422     9976.74    30313    56363.050
9             Spain  Kitchen      4829     9682.79    26817    54756.030
10           Norway  Kitchen      3913     6187.29    19247    35163.460
11            Japan     Kids      3849     2938.52    25218    35340.620
12         Portugal     Bags      3673     6532.96    16153    29302.970
13          Finland  Kitchen      2236     2859.29    10666    22326.740
14  Channel Islands  Kitchen      1692     3464.20     9473    20076.390
15          Denmark  Kitchen      1590     2179.20     8188    18768.140
16           Cyprus    Decor      1511     1754.11     6296    12858.760
17        Hong Kong  Kitchen      1468     2351.48     4709     9908.240
18           Poland  Kitchen      1383     2853.41     3653     7213.140
19            Italy  Kitchen      1307     3272.05     7999    16890.510

In [164]:
df = df.drop( columns = 'index')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,category,year,month,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Lighting,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Lighting,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Kitchen,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Craft,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Decor,2010,12,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...
536636,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,Kids,2011,12,10.20
536637,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,Kids,2011,12,12.60
536638,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,Kids,2011,12,16.60
536639,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,Kids,2011,12,16.60
536640,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,Kitchen,2011,12,14.85

In [ ]:
df.to_csv(r'C:\Users\hp\Desktop\python\Online_Retail_edit.csv', index=False)
category_table.to_csv(r'C:\Users\hp\Desktop\python\category_table.csv', index=False)
country_Table.to_csv(r'C:\Users\hp\Desktop\python\country_Table.csv', index=False)
with pd.ExcelWriter(r'C:\Users\hp\Desktop\python\Final_Online_Retail.xlsx') as writer :
    df.to_excel(writer,sheet_name='Online_Retail_edit',index=False)
    category_table.to_excel(writer, sheet_name='category_table',index=False )
    country_Table.to_excel(writer, sheet_name='country_Table',index=False )